*.pdf
fp700.config.json
odoo.config.json
*.txt
*.spec
dist/*
odoo_service/Received Receipts/*
fp700/dist/*
odoo_service/build/*
odoo_service/dist/*
fp700/build/*
odoo_service/build/*
fp700.spec
__pycache__