{
    "name": "com.fiscalpy.fp700",
    "description": "Native messaging host for Fp700 printer",
    "path": "/home/andrew-dev/Projects/fiscalpy-platform/fp700/stdioFp700.py",
    "type": "stdio",
    "allowed_origins": [
        "chrome-extension://gnhchnfinbhpnjnglogmioidepefclhn/"
    ]
}